<!DOCTYPE html>
<html lang="en">
{{>headerLinks}}
<body>
    {{>navbar}}
     <div class="container-fluid main_header">
               <div class="row">
                <div class="col-md-10 col-12 mx-auto">
                    <div class="row ">
                        <!-- left side Data -->
                        <div class="col-md-12 col-12 left_side_data align-items-center">
                        <figure>
                            <img src="image/404.png" alt="" class='img-fluid girl_img'>
                   
                        </figure>
                           <p>Welcome to Global Weather Site</p>
                            <h3 class="text-primary">Oppss! Page Not Found</h3>
                            <a href="/"><button class='check_btn'>Go Back</button></a>
                     
                    </div>
                        
                       
                         
                       
                     </div>
                   </div>
               </div>
           </div>
           {{>footer}}

</body>
</html>